# .dockerignore file for a React application

# Node.js dependencies
node_modules

# Build artifacts
build
dist

# IDE and editor files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Test files
__tests__
*.test.js

# Miscellaneous
.DS_Store
Thumbs.db
